/* latin-ext */
@font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/fjallaone/v13/Yq6R-LCAWCX3-6Ky7FAFrO96kigt.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/fjallaone/v13/Yq6R-LCAWCX3-6Ky7FAFrOF6kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background: #5b798c url(https://libapps.s3.amazonaws.com/customers/726/images/blue-background.png);
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
    text-decoration: underline;
    color: #0371b5;
    transition: 0.3s;
}

a:hover {
    color: #000;
}

.form-control {
    font-size: 2rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 38px;
    padding: 6px;
}

.form-control:focus {
    border-color: #000;
}

/* BEGIN headers */

h1,
h1>a {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 4rem;
    text-decoration: none;
    transition: 0.3s;
}

h1>a:hover,
h1>a:visited,
h1>a:active {
    color: rgba(255, 255, 255, 0.9);
}

h1>a>img {
    margin-right: 1.5rem;
}

h1.media-heading {
    color: #8c2131;
}

.s-lc-box-thinborder.s-lc-color-bars-border>.s-lc-box>.s-lc-box-title>h1,
.s-lc-color-bars-border>.s-lc-box>.s-lc-box-title>h1,
#s-lc-box-55806-container.s-lc-box-container>.s-lc-box>.s-lc-box-title>h1,
#s-lc-box-55807-container.s-lc-box-container>.s-lc-box>.s-lc-box-title>h1,
#equip_ .fc-toolbar-chunk h2 {
    color: #8c2131;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.s-lc-box>.s-lc-color-bars>h1,
#s-lc-box-55801>.s-lc-box-title>h1,
.s-lc-color-bars-border>.s-lc-box>.s-lc-box-title>h1 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
}

h2.s-lc-c-evt-title,
h2.s-lc-c-evt-title>a,
h2,
h2>a,
#s-lc-new-reservation-form>.form-group>label {
    color: #000;
    font-size: 2.25rem;
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h3,
h3>a {
    font-size: 2.125rem;
}

h4,
h4>a {
    font-size: 2rem;
}

h5,
h5>a {
    font-size: 1.875rem;
}

h6,
h6>a {
    font-size: 1.75rem;
}

/* END headers */

#s-lc-content-evts-74906 {
    display: none;
}

#s-lc-public-bc .breadcrumb {
    font-size: 16px;
    font-weight: normal;
}

ol.breadcrumb a,
.breadcrumb>.active {
    color: white;
    text-decoration: none;
}

ol.breadcrumb a:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
}

.container>main {
    background-color: white;
    /* border-top: 2rem solid #8c2131; */
    padding: 3rem;
}

/*BEGIN tables*/

.s-lc-hr-today-cont {
    border: 0.15rem solid #8c2131;
}

.s-lc-content-hours .hr-col-loc,
.s-lc-content-hours .hr-col-time {
    padding: 1rem;
}

.s-lc-content-hours .s-lc-hr-today-mc {
    padding: 2rem;
}

th.s-lc-hr-head,
th.s-lc-hm-header,
.s-lc-h-sw thead {
    background-color: #8c2131;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-weight: normal;
}

th.s-lc-hm-header {
    font-size: 2.5rem;
}

.s-lc-h-sw thead th {
    font-weight: normal;
}

.s-lc-hr-head {
    padding: 1.5rem;
}

.s-lc-hr-head span {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-weight: normal;
}

.s-lc-h-today-h,
.s-lc-h-today-h .s-lc-h-head-date {
    color: #8c2131;
}

.s-lc-h-head-date {
    color: white;
}

.s-lc-hr-today .btn {
    color: #8c2132;
}

/*END tables*/

/*BEGIN boxes */

.s-lc-box-container {
    margin: 0 0 3rem 0;
    border: none;
}

.s-lc-content {
    margin: 0 0 1rem;
}

.s-lc-color-bars {
    background: #8c2131;
}

.s-lc-color-bars-border {
    border-color: #8c2131;
}

.s-lc-c-evt-des {
    color: #000;
}

/* Upcoming Events Box */
#s-lc-box-55801 {
    border: 0.15rem solid #8c2131;
}

/*END boxes*/

/* BEGIN buttons and forms */

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),
.form-inline .form-control {
    font-size: 18px;
    border: 1px solid #8c2131;
    color: #000;
    height: 39px;
}

/*calendar select inputs*/
#cal-form .bootstrap-select .btn {
    font-size: 18px;
    border: 1px solid #8c2131;
    color: #000;
}

.bootstrap-select .filter-option-inner-inner {
    color: #8c2131;
}

.form-group-sm select.form-control {
    font-size: 18px;
    border: 1px solid #8c2131;
    padding: 0px;
    color: #000;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(140 33 49 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(140 33 49 / 60%);
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #595959;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #595959;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #595959;
}

.btn-primary,
.btn-default,
.btn-info,
.btn-info.active,
.btn-info:active,
.open>.dropdown-toggle.btn-info,
#equip_ .fc-goToDate-button,
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
    background-color: white;
    color: #8c2131;
    border-color: #8c2131;
    transition: 0.3s;
    font-size: 18px;
}

.btn:hover,
.btn-default:hover,
.btn-info:hover,
#equip_ .fc-goToDate-button:hover,
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle):hover,
.btn-group>.btn:last-child:not(:first-child):hover,
.btn-group>.dropdown-toggle:not(:first-child):hover,
.btn-info.active:hover,
.open>.dropdown-toggle.btn-info:hover,
.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary,
.btn-primary.active:hover,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary:hover {
    background-color: #e8d3d6;
    color: #621722;
    border-color: #621722;
}

.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary.active.focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary.focus,
.btn-primary:focus,
.dropdown-toggle:focus,
.btn-info.focus,
.btn-info:focus,
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info:active.focus,
.btn-info:active:focus,
.open>.dropdown-toggle.btn-info.focus,
.open>.dropdown-toggle.btn-info:focus,
.dropdown-toggle:focus {
    background-color: #e8d3d6;
    color: #621722;
    border-color: #621722;
    outline: #000 auto 5px;
}

/* END buttons and forms */

.s-lc-public-footer {
    font-size: .75em;
    line-height: 1.5;
}

#s-lc-public-header {
    margin: 0;
    background-color: white;
    padding: 3rem;
    border-top: 2rem solid #8c2131;
    padding-bottom: 0;
}

#s-lc-public-title {
    margin: 0;
    background-color: white;
    padding: 1.5rem 3rem 0;
    border-top: 2rem solid #8c2131;
}

h1#s-lc-public-pt,
h1#s-lc-public-header-title {
    color: #8c2131;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-left: -15px;
    margin-right: -15px;
}

#s-lc-public-pd {
    margin: 0;
    background-color: white;
    padding: 0 3rem 1.5rem;
}

#s-lc-public-pd>div {
    margin: 0 -15px;
}

#s-lc-public-pd+main,
#s-lc-public-title+main,
#s-lc-public-header+main {
    border-top: none;
}

.s-lc-eventcard-heading {
    background-color: #8c2131;
    height: 73px;
}

.s-lc-eventcard-heading-text-group {
    text-transform: uppercase;
    font-size: 2.25rem;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-weight: normal;
}

.s-lc-evt-date {
    width: auto;
    height: auto;
    padding: 0 0.15rem;
    font-family: 'Fjalla One', arial;
    border: 1px solid white;
    margin: 0 0.15rem 0.75rem;
}

.s-lc-evt-date-m {
    font-weight: normal;
    background-color: #8c2131;
    font-size: 1.5rem;
    padding: 0 0.15rem;
}

.s-lc-evt-date-d {
    font-size: 1.5rem;
    color: #000;
    background-color: white;
    font-weight: normal;
    margin-bottom: 0.15rem;
    padding: 0 0.5rem;
    margin-left: -0.15rem;
    margin-right: -0.15rem;
    margin-bottom: 0;
}

.s-lc-eventcard-description {
    font-size: 18px;
}


@media (min-width: 1200px) {
    #s-lc-app-dp .ui-datepicker {
        width: 30rem;
    }
}

select.ui-datepicker-month {
    height: 32px;
}

/* BEGIN Hours Page */
#s-lc-page-maincontent {
    background-color: white;
}

/* END Hours Page */

/* BEGIN Events Page */
.s-lc-public-evtp #s-lc-page-column-2,
.s-lc-public-evtp #s-lc-page-column-2 .s-lc-color-bars {
    background: none !important;
}

/* END Events Page */

/* BEGIN Spaces Page */
#s-lc-eq-navform.s-lc-spaces-setup-info {
    display: none;
}

#eq-time-grid h2.fc-toolbar-title {
    margin: 3rem 0;
}

#panel_container_desc h2.panel-title,
#s-lc-eq-search-results h2 {
    font-family: inherit;
    font-size: inherit;
}

/*hide category when there is only 1*/
div#s-lc-group_container {
    display:none;
}

/*hide location name when there is only 1*/
div.s-lc-eq-location-name {
    display:none;
}

div.s-lc-search-filters>.nav>li>a {
    padding:1.2rem;
} 

/* END Spaces Page */

/* BEGIN Appointments Page */
.bootstrap-select>.dropdown-toggle {
    width:auto;
}

.s-lc-app-location-select > .form-control {
    box-shadow: none;
}

/* END Appointments Page */

#s-lc-eq-form-times .b-end-date {
    width: auto;
}