/*Styles only for homepage */

body {
    background-image: url(https://libapps.s3.amazonaws.com/customers/726/images/wf-back.png);
    background-size: 8%;
    background-color: rgba(0, 0, 0, 0.05);
}

#top-header,
#top-header>a,
#top-header>a:hover,
#top-header>a:visited,
#top-header>a:active {
    color: #5b798c;
    font-size: 5rem;
}

#top-header {
    display: inline-block;
}

.home-navbar-container {
    padding: 0 0 1rem;
    border-bottom: 2rem solid #8c2131;
}

.home-navbar {
    margin-bottom: 0;
}

.home-navbar .nav>li {
    display: inline-block;
}

.home-navbar .nav>li>a {
    color: #333;
    border-color: #333;
}

.home-navbar .nav>li>a {
    background-color: #fff;
}

.home-navbar .nav>li>a:focus,
.home-navbar .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

@media (max-width: 991px) {
    .home-navbar img {
        height: 30px;
    }

    h1#top-header {
        margin: 0;
    }

    h1#top-header>a,
    h1#top-header>a:hover {
        font-size: 3.5rem;
    }
}

.home-header {
    background-image: url(https://libapps.s3.amazonaws.com/customers/726/images/ACP_5263_1170x590.jpg);
    padding: 2rem;
    border-right: 1px solid #8c2131;
    border-left: 1px solid #8c2131;
    background-size: cover;
}

.search-start-header {
    text-shadow: 2px 2px 10px rgba(000, 000, 000, .3);
    letter-spacing: .024em;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 4rem;
}

.dot-matrix {
    /* background-image: url(https://libapps.s3.amazonaws.com/customers/726/images/dotmatrixoverlay.png); */
    background-color: rgba(0, 0, 0, .33);
    background-repeat: repeat;
    height: 100%;
    overflow: hidden;
    padding: 3rem 2rem 2rem;
    margin: -2rem;
}

/* BEGIN Search Start Form */
#search-start-form {
    margin-bottom: 3rem;
}

#search-start-input {
    display: inline-block;
    width: 97%;
    padding: 0px 0.5em;
    max-width: 50rem;
    height: 3em;
    font-size: 2rem;
    border-radius: 3rem;
    border: 1px solid #333;
    padding-right: 4.5rem;
}

#search-start-btn {
    border: none;
    margin-left: -5rem;
    margin-top: 0.55rem;
    font-size: 2rem;
    color: black;
    padding: 1rem;
    border-radius: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
}

/* END Search Start Form */


#s-lib-bc {
    border: none;
}

.s-lib-box {
    border: none;
    box-shadow: none;
}

/*padding for Centers*/
div#s-lg-box-29924304 {
    padding: 0;
}

#s-lg-guide-tabs-title-bar+#s-lg-guide-main {
    margin-top: -3rem;
}

#libchat_51b0b3781b09e1ba1ddd6b9921472e75 button.libchat_online,
#libchat_51b0b3781b09e1ba1ddd6b9921472e75 button.libchat_offline {
  border-radius: 0;
}