/* INSTRUCTIONS: As of 1/6/23, we are copying and pasting all of this and submitting between the <style> tags on Libguides -- Look & Feel -- Custom JS/CSS */

/* latin-ext */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fjallaone/v13/Yq6R-LCAWCX3-6Ky7FAFrO96kigt.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fjallaone/v13/Yq6R-LCAWCX3-6Ky7FAFrOF6kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: #5b798c url(https://libapps.s3.amazonaws.com/customers/726/images/blue-background.png);
  font-size: 18px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div#s-lg-side-nav-content>div.row>div.col-md-9>div.s-lg-tab-content {
  max-width: 633px;
  margin: 0 auto;
}

div#s-lg-side-nav-content div.col-md-3.s-lg-tabs-side.pad-bottom-med {
  border-right: 1px solid lightgray;
}

a {
  transition: 0.3s;
  font-size: 18px;
  text-decoration: underline;
}

a[target="_blank"]::after {
    content: "\f08e";
    margin: 0 5px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#s-lib-footer-login-link>a,
#s-lib-footer-support-link>a {
  font-size: 1.33rem;
}

a.active,
a.label,
a.btn {
  text-decoration: none;
}

/*BEGIN headers*/
div#s-lib-public-header {
  padding: 0;
}



h1,
h1>a {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4rem;
  text-decoration: none;
  transition: 0.3s;
}

h1>a:hover,
h1>a:visited,
h1>a:active {
  color: rgba(255, 255, 255, 0.9);
}

h1>a>img {
  margin-right: 1.5rem;
}

/* BEGIN top, utility links */
section.utility-links {
  margin-top: 1rem;
}
section.utility-links > a.btn-link {
  text-transform: uppercase;
  text-align: right; 
}

.utility-links .utility-links-login,
.utility-links .utility-links-login:hover {
  background-color: #e8d3d6;
  border-color: #8c2131;
    color: #8c2131;
}

.utility-links .utility-links-site-search,
.utility-links .utility-links-site-search:hover {
  background-color: white;
  color: black;
  border-color: black;
}


/* END top, utility links */

#s-lg-guide-header {
  margin-top: 1rem;
}

#s-lg-guide-header-info {
  background-color: #fff;
  padding-bottom: 3rem;
}

h1#s-lib-public-header-title,
h1#s-lg-guide-name {
  color: #8c2131;
  padding: 3rem;
  padding-bottom: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 4rem;
  background-color: #fff;
}

h1#page-header {
  margin: 0 0 3rem 15px;
  font-size: 3rem;
  color: black;
  text-transform: uppercase;
}

div.s-lib-public-side-header h2 {
  font: normal 2.25rem 'Fjalla One';
}

h2,
h2>a {
  font-size: 2.25rem;
}

.s-lib-box h2.s-lib-box-title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-left: 0;
}

h3,
h3>a {
  font-size: 2.125rem;
}

h4,
h4>a {
  font-size: 2rem;
}

h5,
h5>a {
  font-size: 1.875rem;
}

h6,
h6>a {
  font-size: 1.75rem;
}

div#s-lib-public-header-desc,
#s-lg-guide-desc-container {
  background-color: #fff;
  padding: 0 3rem;
}

/*BEGIN Breadcrumbs*/
#s-lib-bc {
  border-bottom: 2rem solid #8c2131;
}

#s-lib-bc li,
#s-lib-admin-bc .breadcrumb>.active,
#s-lib-bc .breadcrumb>.active,
#s-lib-bc a {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}

/*END Breadcrumbs*/

/*BEGIN Hekman Library Nav */
nav.hekman-nav {
  display: block;
  background-color: #8c2131;
  padding: 0 3rem;
}

ul.hekman-nav-utility-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

ul.hekman-nav-utility-list>li {
  display: inline-block;
}

ul.hekman-nav-utility-list>li>a {
  color: white;
  text-decoration: none;
  font-family: 'Fjalla One';
  text-transform: uppercase;
}

/*END Hekman Library Nav */


/*BEGIN Search Box */
#s-lg-guide-search-box {
  padding: 3rem 3rem 0 0;
}

form#s-lg-guide-search-form::before {
  content: "Search this Guide";
}

/*END Guide Search Box */

/* BEGIN forms */

#s-lg-guide-header-search {
  padding-right: 3rem;
}

.input-group-btn {
  padding: 0 0 0 1rem;

}

.form-control {
  border-color: #8c2131;
}

.form-control:focus {
  border-color: #8c2131;
  box-shadow: 0 0px 5px #8c2131, 0 0 8px rgb(102 175 233 / 60%);
}

.btn-default,
.input-group-sm>.form-control,
.input-group-sm>.input-group-addon,
.input-group-sm>.input-group-btn>.btn {
  border-color: #8c2131;
  color: #8c2131;
  border-radius: 0;
  font-size: 16px;
  padding: 0.5rem;
  height: auto;
}

.input-group-sm>.form-control {
  color: #555;
}

.btn-default:hover {
  background-color: #e8d3d6;
  border-color: #8c2131;
  color: #8c2131;
}

input[type="text"] {
  max-width: 400px;
  width: 100%;
}

select {
  height: 3.75rem;
}

.input-group .form-control:first-child {
  border-radius: 0;
}

/* END forms */

/* BEGIN Side Navigation */
#s-lg-guide-tabs>.nav-pills>li {
  margin-bottom: 1rem;
  border: 1px solid #505050;
}

#s-lg-guide-tabs>.nav-pills>li>a {
  line-height: 1.25;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  padding: 1rem;
  color: #303030;
}

#s-lg-guide-tabs .nav-pills>.active>a {
  line-height: 1.75;
  font-size: 16px;
  font-weight: normal;
}

#s-lg-guide-tabs>.nav-pills a {
  font-size: 15px;
}


/* END Side Navigation */

/* BEGIN Main Section */

div#s-lib-public-main {
  background-color: #fff;
  padding: 3rem;
}

.s-lib-box {
  border-color: #ccc;
  padding: 2rem;
}

#s-lg-side-nav-content {
  background: white;
  padding: 3rem;
}

#s-lg-tabs-container,
#s-lg-guide-main {
  background-color: white;
}

body>#s-lg-tabs-container {
  padding: 3rem;
}

#s-lg-guide-tabs-title-bar+#s-lg-guide-main {
  padding: 3rem;
}

#s-lg-col-1>.s-lg-col-boxes>div {
  margin-bottom: 3rem;
}

#libchat_1d73d9fc08accd85165ff98853a6f31d button.libchat_online,
#libchat_1d73d9fc08accd85165ff98853a6f31d button.libchat_offline,
#libchat_04810c58a27dd02278a347fadeb2fb54 button.libchat_online,
#libchat_04810c58a27dd02278a347fadeb2fb54 button.libchat_offline {
  border-radius: 0;
}

/*END main section*/

/* BEGIN misc. */

.s-lg-system-list .s-lg-guide-list-info .s-lg-guide-info-account,
.s-lg-system-list .s-lg-guide-list-info .s-lg-guide-info-updated,
.s-lg-system-list .s-lg-guide-list-info .s-lg-guide-info-views {
  white-space: normal;
}

/* END misc. */

/*BEGIN footer */
footer.hekman-footer a {
  color: white;
}

footer.hekman-footer a:hover,
footer.hekman-footer a:focus {
  color: rgba(255, 255, 255, 0.85)
}

footer.hekman-footer address li {
  margin-bottom: 1rem;
}

/*END footer */